<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Shop with Vue and Tailwind CSS</title>
    <link rel="stylesheet" type="text/css" href="public/css/ts/ts.css" media="screen"/> 
    <script src="public/scripts/vue/vue.min.js"></script>

</head>
<body>
    <div id="app" class="ml-3 mr-3 mt-2">
        <div class="rounded p-2 bg-gradient-to-r from-green-300 to-green-100 border-2 border-green-300">
            <div class="float-left">
                <p class="text-4xl font-bold align-middle">Bookshop Vue</p>
            </div>
            <div class="float-right">
                <p class="align-text-bottom">Items: {{ shoppingCart.length }}. Total: {{ currency }}{{ shoppingCartTotalPrice }} 
                    
                    <span v-on:click="toggleShoppingVisibilty"><img src="public/images/shopping-basket.gif" class="float-right ml-12 cursor-pointer"/></span></p>
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="clear-both"></div>

        <div class="flex mt-2">
            <!-- FILTERS-->
            <div>
                <div class="bg-gray-300 rounded-t-lg text-center p-2">
                    <h3>Genres</h3>
                </div>
                <div class="bg-gray-100 rounded-b-lg p-2 border-2 border-gray-300">
                    <div>
                        <p class="text-center"><button v-on:click="clearFilteredGenres" class="bg-gray-300 border-2 border-gray-400 rounded p-1">Clear All</button></p>
                    </div>

                    <div v-for="genreObj in genres">
                        <p>
                            <input type="checkbox" class="mr-2" v-model="filteredGenres" v-bind:value="genreObj" @change="updateFilteredGenres"/>
                            <label v-bind:for="genreObj">{{ genreObj }}</label>
                        </p>
                    </div>
    
                </div>
            </div>

            <!-- books -->
            <div class="flex-1 flex-wrap ml-3 bg-gray-100 rounded p-3 border-2 border-gray-300" v-if="showShoppingCart === false">
                <div>
                    <p>Genres > {{ filteredGenresText }} </p>
                </div>

                <div v-for="bookObj in books" class="float-left m-2 w-48 h-59" v-if="bookObj.visibility !== false">
                    <p class="overflow-hidden truncate font-semibold" v-bind:title="bookObj.title">{{ bookObj.title }}</p>
                    <p><span v-for="authorObj in bookObj.authors">{{ authorObj.fullname }}</span></p>
                    <p>{{ currency }}{{ bookObj.price }}</p>
                    <div class="content-center mb-1 text-center">
                        <img src="public/images/generic-book.jpg" alt="book-cover"/>
                    </div>
                    <div class="content-center">
                        <button class="rounded bg-green-200 border-2 border-green-300 p-1" v-on:click="addToShoppingCart(bookObj)" v-if="!bookObj.inCartFlag">Add To Cart</button>
                        <button class="rounded bg-yellow-200 border-2 border-yellow-300 p-1" v-on:click="removeFromShoppingCart(bookObj)" v-if="bookObj.inCartFlag">Remove From Cart</button>
                    </div>
                    
                </div>
            </div>

            <!-- SHOPPING CART -->
            <div id="ShoppingCartBasket" class="p-2 ml-3 rounded w-2/4 bg-gray-100 content-center border-2 border-gray-300" v-if="showShoppingCart === true">
                <!-- HEADER -->
                <div class="mb-3">
                    <div class="float-left">
                        <h2 class="font-bold">Shopping Cart</h2>
                    </div>
                    <div class="float-right align-top">
                        <button v-on:click="closeShoppingCart" class="bg-red-500 py-2 px-3 text-white rounded-full font-bold align-top">Close</button>
                    </div>
                    <div class="clear-both">
                    </div>
                </div>

                <!-- ORDERS -->
                <div v-if="purchased === false">
                    <div v-if="shoppingCart.length === 0">
                        <p>No items in your shopping cart</p>
                    </div>
                    <div v-if="shoppingCart.length > 0">
                        <div class="grid grid-cols-6 gap-1 mb-3">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div class="text-right mr-2"><button class="rounded bg-yellow-200 border-2 border-yellow-300 p-1" v-on:click="emptyShoppingCart()">Empty Cart</button></div>
                        </div>
                        <div v-for="item in shoppingCart" class="grid grid-cols-6 gap-1 mb-3">
                            <div><p>{{ item.title }}</p></div>
                            <div><p>Price: {{ currency }}{{ item.price }}</p></div>
                            <div><p>Quantity:</p></div>
                            <div> 
                                <input type="number" v-model:value="item.quantity" @change="updateQuantityPrice(item)" class="w-20" min="1" max="10" />
                            </div>
                            <div><p class="text-right">Total {{ currency }}{{ item.quantityTotalPrice }}</p></div>
                            <div><button class="rounded bg-yellow-200 border-2 border-yellow-300 p-1" v-on:click="removeFromShoppingCart(item)">Remove From Cart</button></div>
                        </div>
                        <div class="grid grid-cols-6 gap-1">
                            <div></div>
                            <div></div>
                            <div><p>Total Quantity:</p></div>
                            <div>{{ shoppingCartTotalQuantity }}</div>
                            <div class="text-right">Sub-Total: {{ currency }}{{ shoppingCartTotalPrice }}</div>
                            <div></div>
                        </div>
                        <div class="grid grid-cols-6 gap-1 mt-6">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div><button class="rounded bg-yellow-200 border-2 border-yellow-300 p-1" v-on:click="completePurchase">Complete Purchase</button></div>
                        </div>
                    </div>                    
                </div>

                <!-- COMPLETE PURCHASE -->
                <div v-if="purchased === true">
                    <p>Your books will be dispatched. Thanks for ordering from Bookshop Vue!</p>
                </div>
            </div>
        </div>

        
    </div>
</body>
<script src="public/scripts/bookshop.js"></script>
</html>